@use "sass:list"; 

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}
 
@mixin box-shadow($offset-x, $offset-y, $blur-radius, $spread-radius, $color, $inset) {
   @if($inset) {
	  box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color $inset;
   }
   box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
}

%center-object {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
%center-object-horz {
   left: 50%;
   transform: translateX(-50%);
}
%center {
   justify-content: center;
   align-items: center;
}

@mixin set-grid($num-rows, $num-cols) {
    grid-template-rows: repeat($num-rows, auto); 
    grid-template-columns: repeat($num-cols, auto);                                         
}
.hidden {
    display: none;
}
%flex {
   display: flex;
   flex-direction: column;
}
%flex-center {
   justify-content: center;
   align-content: center;
}
%flex-around {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
