$project-padding: 1rem;

@mixin project($bg-color) {
   &-project {
	   width: 75vmin;
	   height: 60vmin;
	   background-color: $bg-color;
	   cursor: pointer;
	   img {
		   width: 100%;
		   height: 85%;
	   }

	   &-description {
		   color: white;
		   width: 100%;
		   background-color: $bg-color;
		   text-align: center;
		   font-size: 1.5rem;
		   cursor: pointer;
		   dfn {
		   }
		   div {
			   display: none;
		   }
	   }
   }
   &-project:hover {
	   img {
		   display: none;
	   }
	   figcaption {
		   width: 100%;
		   height: 100%;
		   position: relative;
		   padding: $project-padding;
		   dfn {
		   }
		   div {
			   padding-top: 1.2rem;
			   display: block;
			   span {
				   font-size: 1.2rem;
			   }

			   div {
				  position: absolute;
				  bottom: 0;
				  width: 100%;
				  transform: translateX(- $project-padding);

				  a.btn {
					  @include button(1.2rem, 0.75rem 0, 0);
					  width: 45%;
					  border-radius: 0;
				  }
			   }
		   }
	   }
   }	
}
