@import 'nav';

@mixin hdr-bar($header-color) {
   position: sticky;
   top: 0;
   width: 100vw;
   display: flex;
   justify-content: flex-end;
   padding: 1.25rem 2rem;
   background-color: $header-color;
   z-index: 1;

   nav {
	   @extend %nav;
   }
}
