@import '../utils/res-mq', 'project_parts/project', '../utils/utils';

@mixin projects($project-color, $about-color) {
    background-color: $projects-color;
    &-title {
        color: white;
        font-size: 2.75rem;
        padding: 10vh 0;
        text-align: center;
        text-decoration: underline;
    }
    .projects-container-group {
        display: grid;

		@extend %center;

		@include set-grid(6, 1);
        @include lg {
			@include set-grid(3, 2);
        }
        gap: 25px;
		@include project($about-color);
	 }
}
