main #projects-container #btn {
  left: 50%;
  transform: translateX(-50%);
}

main #projects-container .projects-container-group {
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

main #projects-container #btn {
  left: 50%;
  transform: translateX(-50%);
}

main #projects-container .projects-container-group {
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

main #projects-container #btn {
  left: 50%;
  transform: translateX(-50%);
}

main #projects-container .projects-container-group {
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

header nav menu {
  list-style-type: none;
}
header nav menu li {
  font-size: 1.35rem;
  display: inline;
  cursor: pointer;
  padding: 1rem 0.5rem;
  transition: all 0.5s ease-in-out;
}
header nav menu li a {
  text-decoration: none;
  color: white;
}
header nav menu li:not(:last-child) {
  margin-right: 1.5rem;
}
header nav menu li:hover {
  font-weight: bolder;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

main #projects-container #btn {
  left: 50%;
  transform: translateX(-50%);
}

main #projects-container .projects-container-group {
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

header {
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  padding: 1.25rem 2rem;
  background-color: #be3144;
  z-index: 1;
}
main {
  overflow: hidden;
  width: 100vw;
}
main #about-container {
  background-color: #282828;
  width: 100%;
  height: 100vh;
  padding: 15% 0;
}
@media (min-width: 576px) {
  main #about-container {
    padding: 10% 0;
  }
}
main #about-container-title {
  color: white;
  font-size: 2.75rem;
  text-align: center;
}
main #about-container-title::before {
  content: "<about>";
  position: relative;
  left: 3.5rem;
  display: block;
  text-align: left;
  font-size: 1.5rem;
  color: #d25062;
  opacity: 0.5;
}
@media (min-width: 576px) {
  main #about-container-title::before {
    left: 15%;
  }
}
@media (min-width: 768px) {
  main #about-container-title::before {
    left: 25%;
  }
}
@media (min-width: 992px) {
  main #about-container-title::before {
    left: 35%;
  }
}
main #about-container-subtitle {
  color: #be3144;
  font-size: 1.95rem;
  text-align: center;
}
main #about-container-subtitle::after {
  content: "</about>";
  position: relative;
  right: 3.5rem;
  display: block;
  text-align: right;
  font-size: 1.5rem;
  color: #d25062;
  opacity: 0.5;
}
@media (min-width: 576px) {
  main #about-container-subtitle::after {
    right: 15%;
  }
}
@media (min-width: 768px) {
  main #about-container-subtitle::after {
    right: 25%;
  }
}
@media (min-width: 992px) {
  main #about-container-subtitle::after {
    right: 35%;
  }
}
main #about-container-description {
  padding: 2rem 10%;
  color: white;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  main #about-container-description {
    padding: 2rem 25%;
  }
}
main #about-container-description em {
  color: #be3144;
}
main #about-container-description::before {
  content: "<me>";
  position: relative;
  left: 0;
  display: block;
  text-align: left;
  font-size: 1.5rem;
  color: #d25062;
  opacity: 0.5;
}
@media (min-width: 576px) {
  main #about-container-description::before {
    left: 0;
  }
}
@media (min-width: 768px) {
  main #about-container-description::before {
    left: 0;
  }
}
@media (min-width: 992px) {
  main #about-container-description::before {
    left: 0;
  }
}
main #about-container-description::after {
  content: "</me>";
  position: relative;
  right: 0;
  display: block;
  text-align: right;
  font-size: 1.5rem;
  color: #d25062;
  opacity: 0.5;
}
@media (min-width: 576px) {
  main #about-container-description::after {
    right: 0;
  }
}
@media (min-width: 768px) {
  main #about-container-description::after {
    right: 0;
  }
}
@media (min-width: 992px) {
  main #about-container-description::after {
    right: 0;
  }
}
main #projects-container {
  background-color: #45567d;
}
main #projects-container-title {
  color: white;
  font-size: 2.75rem;
  padding: 10vh 0;
  text-align: center;
  text-decoration: underline;
}
main #projects-container .projects-container-group {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(1, auto);
  gap: 25px;
}
@media (min-width: 992px) {
  main #projects-container .projects-container-group {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, auto);
  }
}
main #projects-container .projects-container-group-project {
  width: 75vmin;
  height: 60vmin;
  background-color: #282828;
  cursor: pointer;
}
main #projects-container .projects-container-group-project img {
  width: 100%;
  height: 85%;
}
main #projects-container .projects-container-group-project-description {
  color: white;
  width: 100%;
  background-color: #282828;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
}
main #projects-container .projects-container-group-project-description div {
  display: none;
}
main #projects-container .projects-container-group-project:hover img {
  display: none;
}
main #projects-container .projects-container-group-project:hover figcaption {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem;
}
main #projects-container .projects-container-group-project:hover figcaption div {
  padding-top: 1.2rem;
  display: block;
}
main #projects-container .projects-container-group-project:hover figcaption div span {
  font-size: 1.2rem;
}
main #projects-container .projects-container-group-project:hover figcaption div div {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateX(-1rem);
}
main #projects-container .projects-container-group-project:hover figcaption div div a.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.75rem 0;
  margin: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 45%;
  border-radius: 0;
}
main #projects-container #btn {
  position: relative;
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 2.75rem 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border-radius: 0;
}
main #projects-container #btn span + i, main #projects-container #btn i + span {
  padding-left: 0.75rem;
}
main #projects-container #btn i {
  font-size: 1.1rem;
}
main #projects-container #btn:hover {
  background-color: #be3144;
}
main #contact-container {
  background-color: #575757;
  height: 100vh;
  padding: 20vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main #contact-container-title {
  font-size: 3.5rem;
  color: white;
}
main #contact-container-subtitle {
  font-size: 1.5rem;
  font-style: italic;
  color: white;
}
main #contact-container #contact-info-items .contact-info-item {
  color: white;
  font-size: 1.75rem;
  margin: 1.5rem 0;
}
main #contact-container #contact-info-items .contact-info-item-icon {
  margin-right: 1.2rem;
  font-size: 2.1rem;
}
main #contact-container #contact-info-items .contact-info-item-text {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
main #contact-container #contact-info-items .contact-info-item-text:hover {
  font-weight: bolder;
  color: #be3144;
}

footer {
  background-color: lightgrey;
  font-size: 1.15rem;
  width: 100vw;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.75rem;
}
footer #site-info ul {
  list-style-type: none;
}
footer #site-info ul li {
  display: inline;
  cursor: pointer;
}
footer #site-info ul li:not(:last-child) {
  margin-right: 1.2rem;
}
footer #copyright-info {
  font-size: 1rem;
}