@use 'sass:math';
@import 'modal-body';

@mixin modal($width, $bg-color, $text-color, $close-right:false, $centered:true, $height:-1) {
	 position: absolute;
	 @if($centered) {
		top: 50%;
		left: 50%;
	 } @else {
		top: 20%;
		left: 50%;
	 }
	 transform: translate(-50%, -50%);
	 width: $width;
	 @if($height != -1) {
		height: $height;
	 }
	 background: $bg-color;
	 color: $text-color;
	 @extend %flex;
	 #modal-header {
		@extend %flex;
		&-close {
		   font-size: 2.5rem;
		   @if($close-right) {
			  margin-right: 0.5rem;
			  align-self: flex-end;
		   }
		   margin-left: 0.5rem;
		   cursor: pointer;
		}
		&-text {
		   font-size: 1.75rem;
		   align-self: center;
		   text-decoration: underline;
		}
	 }
	 #modal-body {
		margin: 1rem;
		height: 100%;
		@extend %modal-body;
	 }
}

