@import 'parts/about-container', 'parts/hdr-bar', 'parts/ftr-bar', 'utils/config', 'utils/res-mq', 'utils/utils', 'utils/button';

$about-color: #282828;
$projects-color: #45567d;
$contact-color: #575757;
$header-color: #be3144;
$emphasis-color: #be3144;


header {
   @include hdr-bar($header-color);
}
main {
   overflow: hidden;
   width: 100vw;
   height: 100vh;
   #about-container {
	   @include about-container($about-color, $emphasis-color);
   }
}
footer {
    @include ftr-bar(lightgrey);
}
