@import 'parts/project_parts/proj-btn', 'parts/projects-container', 'parts/about-container', 'parts/hdr-bar', 'parts/ftr-bar', 'utils/config', 'utils/utils';

$about-color: #282828;
$projects-color: #45567d;
$contact-color: #575757;
$header-color: #be3144;
$emphasis-color: #be3144;


header {
   @include hdr-bar($header-color);
}
main {
   overflow: hidden;
   width: 100vw;
   #about-container {
	   @include about-container($about-color, $emphasis-color);
   }
   #projects-container {
	  @include projects($projects-color, $about-color);
	  #btn {
		  @include proj-btn($header-color);
	  }
   }
}
footer {
    @include ftr-bar(lightgrey);
}
