@import 'utils';

@mixin desc($text-color) {
    padding: 2rem 10%;
    @include md {
        padding: 2rem 25%;
    }
    color: white;
    font-size: 1.5rem;

    em {
        color: $text-color;
    }

    &::before {
        content: "<me>";
		@include el(left, $text-color, me);
    }
    &::after {
        content: "</me>";
		@include el(right, $text-color, me);
    }
}
