@import 'utils';

@mixin subtitle($text-color) {
    color: $text-color;
    font-size: 1.95rem;
    text-align: center;
 
    &::after {
        content: "</about>";
		@include el(right, $text-color); 
	 }
}
